body {
}

.icon-btn {
    display: none !important;
}

#explore {
    display: none !important;
}

#input_baseUrl {
    display: none !important;
}

#logo {
    display: none !important;
}

#custom-logo {
    background: transparent url(endeavourlogo.png) no-repeat left center !important;
    width: 305px;
    height: 60px;
    display: inline-block;
}

#header {
    background-color: #f8f8f8 !important;
    border-bottom: 1px solid #d3d3d3;
    height: 60px;
}

#register {
    margin-top: 10px;
}

form#api_selector div.input {
	padding-top: 15px;
}

img#validator {
    display: none !important;
}

.swagger-section .swagger-ui-wrap {
  font-family: "Droid Sans", sans-serif;
}

.swagger-section .swagger-ui-wrap strong {
  font-family: "Droid Sans", sans-serif;
}

#notes {
    background-color: #f8f8f8 !important;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    padding: 10px 10px 0px 10px;
}

#notestitle {
    font-weight: bold;
    margin-bottom: 10px;
}
