{
  "swagger": "2.0",
  "info": {
    "description": "API documentation for the Endeavour Health Common Interface Mechanism.<div id='notes'><div id='notestitle'>NOTES</div><p>Sample data and notes on usage can be <a href='usage-notes.html' target='_blank'>viewed here</a> and FHIR profiles can be <a href='fhir'>viewed here</a>.</p><p>Build last updated: 14-Mar-2016</p></div>",
    "version": "0.1",
    "title": "Common Interface Mechanism"
  },
  "host": "endeavour-cim.cloudapp.net",
  "basePath": "/api/v0.1",
  "tags": [
    {
      "name": "demographics",
      "description": ""
    },
    {
      "name": "clinical",
      "description": ""
    },
    {
      "name": "administrative",
      "description": ""
    }
  ],
  "paths": {
    "/Organization/{id}": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get organisation by ID",
        "description": "Get organisation details by ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/organisationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='fhir/primarycare-organization.html'>PrimaryCare-Organization</a> resource"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404OrganizationNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/Organization": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get organisation by ODS code",
        "description": "Get organisation details by ODS code.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Organization identifier (ODS code)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='fhir/primarycare-organization.html'>PrimaryCare-Organization</a> resource"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404OrganizationNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Location/{id}": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get location details",
        "description": "Get location details by ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/locationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='fhir/primarycare-location.html'>PrimaryCare-Location</a> resource"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404LocationNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/User/{id}": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get user details",
        "description": "Get user details by ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Internal user identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/person.html'>Person</a> resource"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Schedule": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get appointment schedules",
        "description": "Get appointment schedules by date and/or practitioner ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Search for schedules within the date(s) specified",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "actor:Practitioner",
            "in": "query",
            "description": "Search for schedules with the practitioner ID specified",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='fhir/primarycare-schedule.html'>PrimaryCare-Schedule</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Slot": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get appointment slots",
        "description": "Get appointment slots by schedule ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "name": "schedule",
            "in": "query",
            "description": "Search for slots with the schedule ID specified",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='fhir/primarycare-slot.html'>PrimaryCare-Slot</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Slot/{id}/$book": {
      "post": {
        "tags": [
          "administrative"
        ],
        "summary": "Book an appointment slot",
        "description": "Book an appointment slot.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/slotIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Patient ID wrapped in <a target='_blank'  href='http://hl7.org/fhir/DSTU2/parameters.html'>Parameters</a> resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/parametersResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK | TBD"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404SlotOrPatientNotFoundResponse"
          },
          "409": {
            "$ref": "#definitions/409SlotAlreadyBookedResponse"
          },
          "412": {
            "$ref": "#definitions/412SlotAlreadyBookedByThisPatientResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Slot/{id}/$cancel": {
      "post": {
        "tags": [
          "administrative"
        ],
        "summary": "Cancel an appointment slot",
        "description": "Cancel an appointment slot.",
        "parameters": [
          {
            "$ref": "#/definitions/apiKeyParameter"
          },
          {
            "$ref": "#/definitions/hashParameter"
          },
          {
            "$ref": "#/definitions/odsCodeParameter"
          },
          {
            "$ref": "#/definitions/slotIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Patient ID wrapped in <a target='_blank'  href='http://hl7.org/fhir/DSTU2/parameters.html'>Parameters</a> Resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/parametersResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK | TBD"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404SlotOrPatientNotFoundResponse"
          },
          "412": {
            "$ref": "#definitions/412SlotNotBookedByThisPatientResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Appointment": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get appointments by patient",
        "description": "Get appointments by patient ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Search for appointments with the patient ID specified",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Search for appointments within the date(s) specified",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='fhir/primarycare-appointment.html'>PrimaryCare-Appointment</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Task": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get organisation tasks",
        "description": "Get tasks by organisation.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | A bundle of <a target='_blank' href='fhir/primarycare-task.html'>PrimaryCare-Task</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      },

      "post": {
        "tags": [
          "administrative"
        ],
        "summary": "Add a task",
        "description": "Add a task at a given organisation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/definitions/apiKeyParameter"
          },
          {
            "$ref": "#/definitions/hashParameter"
          },
          {
            "$ref": "#/definitions/odsCodeParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "<a target='_blank' href='fhir/primarycare-task.html'>PrimaryCare-Task</a> Resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK | TBD"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Task/{id}": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get a task",
        "description": "Retrieve a task from a given organisation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/definitions/apiKeyParameter"
          },
          {
            "$ref": "#/definitions/hashParameter"
          },
          {
            "$ref": "#/definitions/odsCodeParameter"
          },
          {
            "$ref": "#/definitions/taskIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | TBD"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/User/{id}/Task": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get user tasks",
        "description": "Get tasks by user.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/userIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | A bundle of <a target='_blank' href='fhir/primarycare-task.html'>PrimaryCare-Task</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Patient/{id}/Task": {
      "get": {
        "tags": [
          "administrative"
        ],
        "summary": "Get patient tasks",
        "description": "Get tasks by patient.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/patientIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | A bundle of <a target='_blank' href='fhir/primarycare-task.html'>PrimaryCare-Task</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Patient/{id}/$everythingnobinary": {
      "get": {
        "tags": [
          "clinical"
        ],
        "summary": "Get full record by patient ID",
        "description": "Get full record (demographic and clinical) by patient ID, excluding binaries and attachments.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/patientIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing multiple resource types constituting the patients full record"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404PatientNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Patient/{id}/MedicationPrescription": {
      "get": {
        "tags": [
          "clinical"
        ],
        "summary": "Get medication prescriptions by patient ID",
        "description": "Get medication prescriptions by patient ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/patientIdParameter"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the prescription",
            "required": false,
            "type": "string",
            "enum": [
              "active",
              "on-hold",
              "completed",
              "entered-in-error",
              "stopped",
              "draft"
            ]
          },
          {
            "name": "dateWritten",
            "in": "query",
            "description": "Date of the prescription",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='fhir/primarycare-medication.html'>PrimaryCare-Medication</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404PatientNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Patient/{id}/Condition": {
      "get": {
        "tags": [
          "clinical"
        ],
        "summary": "Get conditions by patient ID",
        "description": "Get conditions by patient ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/patientIdParameter"
          },
          {
            "name": "code",
            "in": "query",
            "description": "Code reference",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='fhir/primarycare-condition.html'>PrimaryCare-Condition</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404PatientNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      },
      "post": {
        "tags": [
          "clinical"
        ],
        "summary": "Add condition to patient",
        "description": "Add condition to patient.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/patientIdParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "<a target='_blank'  href='fhir/primarycare-condition.html'>PrimaryCare-Condition resource</a>",
            "required": true,
            "schema": {
              "$ref": "#/definitions/conditionResource"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Condition added successfully | (empty)"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "404": {
            "$ref": "#definitions/404PatientNotFoundResponse"
          },
          "409": {
            "$ref": "#definitions/409IdentifierInUseResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Patient/{id}/Immunization": {
      "get": {
        "tags": [
          "clinical"
        ],
        "summary": "Get immunisations by patient ID",
        "description": "Get immunisations by patient ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/patientIdParameter"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date of the immunisation",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='fhir/primarycare-immunization.html'>PrimaryCare-Immunization</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404PatientNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Patient/{id}/AllergyIntolerance": {
      "get": {
        "tags": [
          "clinical"
        ],
        "summary": "Get allergies by patient ID",
        "description": "Get allergies by patient ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/patientIdParameter"
          },
          {
            "name": "criticality",
            "in": "query",
            "description": "Estimated potential clinical harm",
            "required": false,
            "type": "string",
            "enum": [
              "low",
              "high",
              "unassessible"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='fhir/primarycare-allergy-intolerance.html'>PrimaryCare-AllergyIntolerance</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404PatientNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/Person/$trace": {
      "get": {
        "tags": [
          "demographics"
        ],
        "summary": "Trace persons",
        "description": "<p>Trace persons.</p><p>Valid trace combinations:</p><ul><li>Person identifier</li><li>Person name AND date of birth AND gender</li></ul>",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Person identifier",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Person name",
            "required": false,
            "type": "string"
          },
          {
            "name": "birthdate",
            "in": "query",
            "description": "Person date of birth",
            "required": false,
            "type": "string"
          },
          {
            "name": "gender",
            "in": "query",
            "description": "Person gender",
            "required": false,
            "type": "string",
            "enum": [
              "male",
              "female",
              "other",
              "unknown"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='http://hl7.org/fhir/DSTU2/person.html'>Person</a> resources and zero or more associated <a target='_blank' href='fhir/primarycare-patient.html'>PrimaryCare-Patient</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Patient/{id}": {
      "get": {
        "tags": [
          "demographics"
        ],
        "summary": "Get demographics by patient ID",
        "description": "Get demographics by patient ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "$ref": "#definitions/patientIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='fhir/primarycare-patient.html'>PrimaryCare-Patient</a> resource"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "404": {
            "$ref": "#definitions/404PatientNotFoundResponse"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    },
    "/{odsCode}/Patient": {
      "get": {
        "tags": [
          "demographics"
        ],
        "summary": "Get all patients",
        "description": "Get all patients.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#definitions/apiKeyParameter"
          },
          {
            "$ref": "#definitions/hashParameter"
          },
          {
            "$ref": "#definitions/odsCodeParameter"
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "description": "Date after which the patient record was last updated",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Active patients only",
            "required": false,
            "type": "string",
            "enum": [
              "active"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK | <a target='_blank' href='http://hl7.org/fhir/DSTU2/bundle.html'>Bundle</a> containing zero or more <a target='_blank' href='fhir/primarycare-person.html'>PrimaryCare-Patient</a> resources"
          },
          "400": {
            "$ref": "#definitions/400Response"
          },
          "401": {
            "$ref": "#definitions/401Response"
          },
          "403": {
            "$ref": "#definitions/403Response"
          },
          "500": {
            "$ref": "#definitions/500Response"
          },
          "502": {
            "$ref": "#definitions/502Response"
          },
          "504": {
            "$ref": "#definitions/504Response"
          }
        }
      }
    }
  },
  "definitions": {
    "apiKeyParameter": {
      "name": "api_key",
      "description": "API key",
      "in": "header",
      "type": "string",
      "required": false
    },
    "hashParameter": {
      "name": "hash",
      "description": "HMAC message hash",
      "in": "header",
      "type": "string",
      "required": false
    },
    "odsCodeParameter": {
      "name": "odsCode",
      "in": "path",
      "description": "ODS code",
      "required": true,
      "type": "string"
    },
    "patientIdParameter": {
      "name": "id",
      "in": "path",
      "description": "Patient ID",
      "required": true,
      "type": "string"
    },
    "userIdParameter": {
      "name": "id",
      "in": "path",
      "description": "Internal user identifier",
      "required": true,
      "type": "string"
    },
    "slotIdParameter": {
      "name": "id",
      "in": "path",
      "description": "Slot ID",
      "required": true,
      "type": "string"
    },
    "organisationIdParameter": {
      "name": "id",
      "in": "path",
      "description": "Organisation ID",
      "required": true,
      "type": "string"
    },
    "locationIdParameter": {
      "name": "id",
      "in": "path",
      "description": "Location ID",
      "required": true,
      "type": "string"
    },
    "taskIdParameter": {
      "name": "id",
      "in": "path",
      "description": "Task ID",
      "required": true,
      "type": "string"
    },
    "400Response": {
      "description": "Required parameter missing; Invalid parameter | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Required element missing; Element value invalid"
    },
    "401Response": {
      "description": "Security failed | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Unknown user"
    },
    "403Response": {
      "description": "No legitimate relationship | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Information suppressed"
    },
    "404PatientNotFoundResponse": {
      "description": "Patient not found | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Not found"
    },
    "404OrganizationNotFoundResponse": {
      "description": "Organization not found | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Not found"
    },
    "404LocationNotFoundResponse": {
      "description": "Location not found | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Not found"
    },
    "404SlotOrPatientNotFoundResponse": {
      "description": "Slot not found; Patient not found | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Not found"
    },
    "409SlotAlreadyBookedResponse": {
      "description": "Slot already booked | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Edit version conflict"
    },
    "409IdentifierInUseResponse": {
      "description": "Identifier in use | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Edit version conflict"
    },
    "412SlotAlreadyBookedByThisPatientResponse": {
      "description": "Slot already booked by this patient | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Business rule violation"
    },
    "412SlotNotBookedByThisPatientResponse": {
      "description": "Slot not booked by this patient | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Business rule violation"
    },
    "500Response": {
      "description": "Unexpected error | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Exception"
    },
    "502Response": {
      "description": "Error received from principal system | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Exception"
    },
    "504Response": {
      "description": "Connection timeout to principal system | <a target='_blank' href='http://hl7.org/fhir/DSTU2/operationoutcome.html'>OperationOutcome</a> with <a href='http://hl7.org/fhir/DSTU2/valueset-issue-type.html'>IssueType</a> of Timeout"
    },
    "parametersResource": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "example": "Parameters"
        },
        "parameter": {
          "type": "array",
          "items": [
            {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "patient"
                },
                "valueString": {
                  "type": "string",
                  "example": "00000000-0000-0000-0000-000000000000"
                }
              }
            }
          ]
        }
      }
    },
    "taskResource": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "example": "Order"
        },
        "id": {
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "extension": {
          "type": "array",
          "items": [
            {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "example": "fhir/ValueSet/task-type"
                },
                "valueCodeableConcept": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "example": "fhir/task-type"
                            },
                            "code": {
                              "type": "string",
                              "example": "patientNote"
                            },
                            "display": {
                              "type": "string",
                              "example": "Patient Note"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "example": "fhir/ValueSet/task-priority"
                },
                "valueCodeableConcept": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "example": "fhir/task-priority"
                            },
                            "code": {
                              "type": "string",
                              "example": "medium"
                            },
                            "display": {
                              "type": "string",
                              "example": "Medium"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "example": "fhir/ValueSet/task-status"
                },
                "valueCodeableConcept": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "example": "fhir/task-status"
                            },
                            "code": {
                              "type": "string",
                              "example": "active"
                            },
                            "display": {
                              "type": "string",
                              "example": "Active"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          ]
        },
        "date": {
          "type": "string",
          "example": "2015-09-01T11:34:05"
        },
        "subject": {
          "type": "object",
          "properties": {
            "reference": {
              "type": "string",
              "example": "Patient/11af0e7f-be18-431e-9be9-fd1adb2f0742"
            }
          }
        },
        "source": {
          "type": "object",
          "properties": {
            "reference": {
              "type": "string",
              "example": "Practitioner/967e0240-efd4-43ba-8ad5-9dae20b689d3"
            }
          }
        },
        "target": {
          "type": "object",
          "properties": {
            "reference": {
              "type": "string",
              "example": "Practitioner/0c9bca2b-3a3a-43c3-879f-7552570040d6"
            }
          }
        },
        "reasonCoding": {
          "type": "object",
          "properties": {
            "display": {
              "type": "string",
              "example": "BARNEY, Kendrick (Master) - Asthma Review"
            }
          }
        },
        "when": {
          "type": "object",
          "properties": {
            "schedule": {
              "type": "object",
              "properties": {
                "event": {
                  "type": "array",
                  "items": [
                    {
                      "type": "string",
                      "example": "2015-08-04T10:00:00"
                    }
                  ]
                }
              }
            }
          }
        },
        "detail": {
          "type": "array",
          "items": [
            {
              "type": "object",
              "properties": {
                "display": {
                  "type": "string",
                  "example": "I saw this patient with an asthma attack at the weekend, which are getting increasingly frequent. I noted that he has not had an asthma review for some time. I think a recall for a review would be worthwhile."
                }
              }
            }
          ]
        }
      }
    },
    "conditionResource": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "example": "Condition"
        },
        "asserter": {
          "type": "object",
          "properties": {
            "reference": {
              "type": "string",
              "example": "Practitioner/00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "dateRecorded": {
          "type": "string",
          "example": "2001-01-01"
        },
        "code": {
          "type": "object",
          "properties": {
            "coding": {
              "type": "array",
              "items": [
                {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "example": "READ2"
                    },
                    "code": {
                      "type": "string",
                      "example": " "
                    },
                    "display": {
                      "type": "string",
                      "example": " "
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "example": "http://snomed.info/sct"
                    },
                    "code": {
                      "type": "string",
                      "example": " "
                    },
                    "display": {
                      "type": "string",
                      "example": " "
                    }
                  }
                }
              ]
            },
            "text": {
              "type": "string",
              "example": " "
            }
          }
        },
        "category": {
          "type": "object",
          "properties": {
            "coding": {
              "type": "array",
              "items": [
                {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "example": "http://hl7.org/fhir/condition-status"
                    },
                    "code": {
                      "type": "string",
                      "example": " "
                    },
                    "display": {
                      "type": "string",
                      "example": " "
                    }
                  }
                }
              ]
            }
          }
        },
        "severity": {
          "type": "object",
          "properties": {
            "coding": {
              "type": "array",
              "items": [
                {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "example": "http://hl7.org/fhir/vs/condition-severity"
                    },
                    "code": {
                      "type": "string",
                      "example": " "
                    },
                    "display": {
                      "type": "string",
                      "example": " "
                    }
                  }
                }
              ]
            }
          }
        }
      }
    }
  }
}